/Tag11/haustier_simulator/__pycache__
/Tag11/haustier_simulator/__pycache__
/Tag12/__pycache__
Tag11/haustier_simulator/__pycache__/state_management.cpython-314.pyc
/Tag12/.vscode
Tag12/gruppenauswahl.py
Tag13/daten/report.txt
Tag13/daten/kombination.txt
/Tag13/leerordner
/Tag13/testdaten
.vscode/settings.json
Tag13/log.txt
Tag13/log_backup.txt
Tag13/daten/zusammenfassung.txt
